body{
  background: linear-gradient(to bottom, #00274e 0%, #00ced1 100%);
  color:#00274e;
  font-family: "Suravaram", sans-serif;
  line-height: 1.5;
}

div{
  margin:30px;
  padding-left: 20px;
  padding-right: 20px;
  /*border: 5px #00274e solid;*/
  border-radius: 10%;
}

nav{
  /*background-color: white;*/
  opacity: 10%;
  display:flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: -10px;
  position: fixed;
}

a{
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: "Arima Madurai", serif;
}

a:hover{
  color: #00c1de
}

a:active{
  color: #00c1de
}

h1{
  margin-left: 12px;
}

.graphic{
  width: 1800px;
  height: 200PX;
}

/*about section*/
.about-container{
  display: grid;
  background-color: white;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3fr 2fr;
  grid-gap: 10px;
  text-align: center;
}

.namecard{
  margin: 200px;
  font-size: 35px;
  font-weight: bold;
}

.titlecard{
  font-size: 20px;
  font-weight: bold;
}

.id-photo{
  width: 350px;
  margin-top: 50px;
}

.about{
  margin-left: 100px;
  margin-right: 100px;
}

/*experience section*/
.exp-container{
  display: grid;
  background-color: white;
  grid-template-columns: 4fr 4fr 4fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}


/*skills section*/
.skills-container{
  display: grid;
  background-color: white;
  grid-template-columns: 4fr 4fr 4fr 4fr 4fr 1fr;
  grid-template-rows:
  grid-gap: 10px;
}

/*education section*/
.edu-container{
  display: grid;
  background-color: white;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 10px;
}

/*contact section*/
.contact-container{
  display: grid;
  background-color: white;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  grid-template-rows: auto;
}

#email-link{
  font-size: 20px;
  color: #00274e;
}

/*top jump*/
.top-link{
  background-color: #00ced1;
  color: #00274e;
  text-align: center;
  margin: 50px 820px;
  padding: 6px;
}

/*footer*/
footer{
  color: white;
  text-align: right;
  padding-right: 20px;
}
