a:hover {
  color: #e6007e; }

a:active {
  color: #e6007e; }

li:hover {
  display: table;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(120deg, #fff 0%, #e6007e 50%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#icon:hover {
  animation: iconRotate 2s infinite; }

#edu_title, #exp_title {
  grid-column: 2/4;
  grid-row: 2/3;
  padding-left: 20px;
  margin-top: -10px;
  color: azure; }

.edu_code, .edu_school, .edu_other, .exp_supervisor, .exp_demonstrator, .exp_alt, .exp_dj {
  padding-top: 2px;
  padding-left: 50px;
  padding-right: 50px; }

@media only screen and (max-device-width: 1665px) {
  .about {
    line-height: 1;
    font-size: 50px; } }
@media only screen and (max-device-width: 1300px) {
  .director {
    background-color: white;
    opacity: 0.7;
    z-index: -1;
    height: 40px; }

  #exp_grid {
    height: auto;
    height: 560px; }

  .exp_demonstrator {
    grid-column: 1/2;
    overflow: hidden;
    text-overflow: ellipsis; }

  .exp_alt {
    grid-column: 2/3;
    text-overflow: clip;
    overflow: hidden;
    text-overflow: ellipsis; }

  #carousel_container {
    margin-top: 90px; }

  #bottom_nav {
    background-color: #fff; } }
@media only screen and (max-device-width: 1100px) {
  #edu_container, #exp_container, #port_container {
    line-height: 1; }

  #edu_title {
    margin: -18px; } }
@keyframes iconRotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
body {
  background-image: url(../img/me.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  line-height: 1.5; }

a {
  font-size: 22px;
  color: #e6007e;
  text-decoration: none; }

li {
  list-style-type: none; }

.director {
  color: #e6007e;
  text-align: left;
  margin-left: 80px; }

span {
  padding-right: 15px; }

#body_container {
  width: 100%;
  height: 100%;
  margin-left: -55px;
  padding-left: 35px;
  display: grid;
  grid-template-columns: 10% repeat(5, 15%);
  grid-template-rows: repeat(9, 100px);
  grid-gap: 8px;
  font-weight: bold;
  line-height: 2;
  color: white; }

#name_card {
  grid-column: 6/8;
  grid-row: 2/3;
  font-size: 35px;
  text-align: left;
  padding: 10px;
  z-index: -1;
  height: 65px;
  margin: 5px 15px 0 105px; }

#title_card {
  grid-column: 6/9;
  grid-row: 3/4;
  font-size: 28px;
  text-align: left;
  padding: 10px;
  z-index: -1;
  height: 55px;
  margin-left: 105px; }

#about_card {
  grid-column: 6/9;
  grid-row: 4/10;
  font-size: 20px;
  text-align: left;
  padding: 25px;
  z-index: -1;
  margin: -20px 100px 0 105px; }

#edu_btn {
  grid-column: 1/2;
  grid-row: 4/5; }

#exp_btn {
  grid-column: 1/2;
  grid-row: 5/6; }

#port_btn {
  grid-column: 1/2;
  grid-row: 6/7; }

#contact_btn {
  grid-column: 1/2;
  grid-row: 7/8; }

#edu_container {
  background-color: #003530;
  opacity: 0.8;
  grid-column: 2/7;
  grid-row: 2/9;
  display: none;
  line-height: 3;
  color: #cfcfcf; }

.edu_school {
  grid-column: 4/5;
  grid-row: 3/9; }

#exp_container {
  background-color: #003530;
  opacity: 0.7;
  grid-column: 2/7;
  grid-row: 2/9;
  display: none;
  color: #cfcfcf;
  font-size: 18px; }

#exp_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: -40px; }

.exp_supervisor {
  grid-column: 1/2;
  grid-row: 1/2; }

.exp_demonstrator {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: -55px; }

.exp_alt {
  grid-column: 2/3;
  grid-row: 1/2; }

.exp_dj {
  grid-column: 2/3;
  grid-row: 2/3; }

#responsibilities {
  font-size: 14px !important; }

#port_container {
  background-color: #003530;
  opacity: 0.8;
  grid-column: 2/7;
  grid-row: 2/9;
  display: none;
  line-height: 3;
  text-align: center;
  padding-top: 190px;
  color: #cfcfcf; }
  #port_container img {
    width: 120px; }
  #port_container a {
    margin-top: 25px;
    padding: 40px; }

#carousel_container {
  height: 100px;
  text-align: left;
  position: relative;
  overflow: hidden;
  grid-column: 1/8;
  grid-row: 9/10;
  margin-top: 70px;
  padding: 20px 0 5px 5px; }

.item {
  width: 80px; }

footer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  border-top: #003530 solid 2px;
  padding: 10px 35px 0 0;
  text-align: center;
  background-color: white;
  height: 70px;
  margin-top: 20px; }

.email_link {
  grid-column: 1/2;
  font-size: 18px; }

.phone_number {
  grid-column: 2/3;
  font-size: 15px; }

#icon {
  width: 60px; }

/*# sourceMappingURL=styles.css.map */
