//body
body{
    background-image: url(../img/me.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; 
    font-family: $baseFont;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    line-height: 1.5;
}

a{
    font-size: 22px;
    color: $highlightColor;
    text-decoration: none;
}

li{
    list-style-type: none;
}

.director{
    color: $highlightColor;
    text-align: left;
    margin-left: 80px;
}

span{
    padding-right: 15px;
    font-size: 25px;
}

// index styling
#body_container{
    width: 100%;
    height: 100%;
    margin-left: -55px;
    padding-left: 35px;
    display: grid;
    grid-template-columns: 10% repeat(5,15%);
    grid-template-rows: repeat(9, 100px);
    grid-gap: 8px;
    font-weight: bold;
    line-height: 2;
    color: white;
  }

  #name_card{
    grid-column: 6/9;
    grid-row: 2/3;
    font-size: 40px;
    text-align: left;
    padding: 25px;
    z-index: -1;
    height: 65px;
    margin: 5px 8px 0 105px;
    text-align: right;
  }

  #title_card{
    grid-column: 6/9;
    grid-row: 3/4;
    font-size: 28px;
    text-align: left;
    padding: 15px;
    z-index: -1;
    height: 55px;
    margin: 5px 8px 0 105px;
    margin-top: 10px;
    text-align: right;
  }

  #about_card{
    grid-column: 6/9;
    grid-row: 4/10;
    font-size: 18px;
    text-align: left;
    padding: 15px 15px 0 75px;
    z-index: 5px 8px 0 105px;
    text-align: right;
  }
  
#edu_btn{
    grid-column: 1/2;
    grid-row: 4/5;
}

#exp_btn{
    grid-column: 1/2;
    grid-row: 5/6;
}

#port_btn{
    grid-column: 1/2;
    grid-row: 6/7;
}

#contact_btn{
    grid-column: 1/2;
    grid-row: 7/8;
}


///edu
#edu_container{
    background-color: $accentColor;
    opacity: 0.8;
    grid-column: 3/8;
    grid-row: 2/9;
    display: none;
    line-height: 3;
    color: $baseColor;
}

#edu_title{
    @extend %titleGrid;
}

.edu_code{
    @extend %textPadding;
}

.edu_school{
    @extend %textPadding;
}

.edu_other{
    @extend %textPadding;
}


//exp
#exp_container{
    background-color: $accentColor;
    opacity: 0.7;
    grid-column: 3/8;
    grid-row: 2/9;
    display: none;
    color: $baseColor;
    font-size: 18px;
}

#exp_title{
    @extend %titleGrid;
}

.exp_supervisor{
    @extend %textPadding;
}
.exp_demonstrator{
    @extend %textPadding;
}

.exp_alt{
    @extend %textPadding;
}
.exp_dj{
    @extend %textPadding;
}

#responsibilities{
    font-size: 14px!important;
}

//port
#port_container{
    background-color: $accentColor;
    opacity: 0.8;
    grid-column: 3/8;
    grid-row: 2/9;
    display: none;
    line-height: 3;
    text-align: center;
    color: $baseColor;
    #port_title{
        @extend %titleGrid;
    }
    img{
        width: 200px;
    }
    .github_img{
        width: 100px;
    }
}

//carousel
#carousel_container{
    height: 100px;
    text-align: left;
    position: relative;
    overflow: hidden;
    grid-column: 1/8;
    grid-row: 9/10;
    margin-top: 70px;
    padding: 20px 0 5px 5px;
}

.item{
    width: 80px;
}

//contact nav
footer{
    display: grid;
    grid-template-columns: repeat(4,25%);
    border-top: $accentColor solid 2px;
    padding: 10px 35px 0 0;
    text-align: center;
    background-color: white;
    height: 70px;
    margin-top: 20px;
}

.email_link{
    grid-column: 1/2;
    font-size: 18px;
}

.phone_number{
    grid-column: 2/3;
    font-size: 15px;
}

#icon{
    width: 60px;
}