@media only screen 
  and (max-device-width: 1665px){
    .about{
        line-height: 1;
    }
  }

@media only screen 
  and (max-device-width: 1300px) {

      #name_card{
        grid-column: 6/8;
        margin: 5px 0 0 0 !important;
      }
    
      #title_card{
        grid-column: 6/8;
        margin: 5px 0 0 0 !important;
      }
    
      #about_card{
        grid-column: 6/9;
        margin: 5px 0 0 0 !important;
      }

    .director{
        opacity: 0.7;
        z-index: -1;
        height: 40px;
        margin-left: 25px !important;
        background-color: #fff;
        opacity: 0.7%;
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 25%;
        text-align: center !important;
    }
    
    #exp_grid{
        height: auto;
        height: 560px;
    }

    .exp_demonstrator{
        grid-column: 1/2;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    .exp_alt{
        grid-column: 2/3;
        text-overflow: clip;
        overflow:hidden;
        text-overflow:ellipsis;
    }

    #carousel_container{
        margin-top: 90px;
    }

    #bottom_nav{
        background-color: #fff;
    }
}

@media only screen 
  and (max-device-width: 1100px) {
      #edu_container, #exp_container, #port_container{
          line-height: 1;
      }
      
      #edu_title{
        margin: -18px;
      }
  }