@media only screen 
  and (max-device-width: 1665px){
    .about{
        line-height: 1;
    }
  }

@media only screen 
  and (max-device-width: 1300px) {

      #name_card{
        grid-column: 6/8;
        margin: 5px 0 0 0 !important;
      }
    
      #title_card{
        grid-column: 6/8;
        margin: 5px 0 0 0 !important;
      }
    
      #about_card{
        grid-column: 6/9;
        margin: 5px 0 0 0 !important;
      }

    .director{
        opacity: 0.7;
        height: 40px;
        margin-left: 25px !important;
        background-color: #fff;
        opacity: 0.7%;
        width: 100%;
        padding-left: 8px;
        padding-right: 20px;
        border-radius: 25%;
        text-align: center !important;
    }

    .animated{
        font-size: 18px;
        span{
            font-size: 22px;
        }
        #responsibilities{
            font-size: 10px!important;
        }
        h1{
            margin-bottom: -4px;
        }
    }

    #carousel_container{
        margin-top: 90px;
    }

    #bottom_nav{
        background-color: #fff;
    }
}

// @media only screen 
//   and (max-device-width: 1100px) {
//       #edu_container, #exp_container, #port_container{
//           line-height: 1;
//       }
      
//       #edu_title{
//         margin: -18px;
//       }
//   }