%titleGrid {
    padding-left: 20px; 
    color: azure;
} 


%textPadding {
    padding-top: 2px;
    padding-left: 50px;
    padding-right: 50px;
}

%outline {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}