%titleGrid {
    grid-column: 2/4;
    grid-row: 2/3;
    padding-left: 20px; 
    margin-top: -10px;
    color: azure;
} 


%textPadding {
    padding-top: 2px;
    padding-left: 50px;
    padding-right: 50px;
}